<?xml version="1.0"?>
<configuration>
    <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
	<appSettings>
		<add key ="browser" value="chrome"/>
		<add key="mailerAddress" value="mail.ru"/>
		<add key="username" value="al_mamistov"/>
		<add key="password" value=""/>
		
		
	</appSettings>
</configuration>
